[
  {rabbit, [
    {loopback_users, []}
  ]},
  {rabbitmq_management, [
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]},
  {rabbitmq_web_stomp,
        [{ssl_config, [{port,       15675},
                       {backlog,    1024},
                       {cacertfile, "/cert/hzztai.pem"},
                       {certfile,   "/cert/hzztai.pem"},
                       {keyfile,    "/cert/hzztai.key"}]}]}
].